# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
venv/

# Ignore data files
data/

# Ignore profiling output
profile_output.txt

# Ignore system-specific files
.DS_Store

# Ignore Streamlit static folder
frontend/.streamlit/

# Ignore VSCode settings
.vscode/
